<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>Surat Keterangan Janda/Duda</title>
    <style>
      body {
        font-family: "Times New Roman", Times, serif;
        font-size: 12pt;
        margin: 50px;
        color: #000;
      }

      .logo-container {
        position: absolute;
        top: 50px;
        left: 50px;
      }

      .logo {
        width: 80px;
      }

      .header {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      .title {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
        margin-top: 20px;
      }

      .nomor {
        text-align: center;
        margin-bottom: 20px;
      }

      .paragraf {
        text-align: justify;
        margin: 10px 0;
      }

      table.info {
        margin-left: 30px;
        margin-bottom: 15px;
      }

      table.info td {
        padding: 4px 8px;
        vertical-align: top;
      }

      .ttd {
        margin-top: 50px;
        text-align: right;
      }

      .qr {
        margin-top: 10px;
      }

      .qr small {
        font-size: 10px;
        color: #666;
      }

      hr {
        border: none;
        border-top: 2px solid black;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="logo-container">
      <img
        src="https://sisurat-kl.vercel.app/img/kotakupanglogo.png"
        class="logo"
      />
    </div>

    <div class="header">
      <div>PEMERINTAH KOTA KUPANG</div>
      <div>KECAMATAN OEBEBO</div>
      <div>KELURAHAN LILIBA</div>
      <div style="font-size: 10pt">Jl. Tabean Liliba, No. 100, 85232 – Kupang</div>
    </div>

    <hr />

    <div class="title">SURAT KETERANGAN JANDA / DUDA</div>
    <div class="nomor">Nomor: {{nomorSurat}}</div>

    <div class="paragraf">
      Yang bertanda tangan di bawah ini Lurah Kelurahan Liliba Kecamatan Oebobo
      Kota Kupang, dengan ini menerangkan bahwa:
    </div>

    <table class="info">
      <tr><td>Nama</td><td>:</td><td>{{namaLengkap}}</td></tr>
      <tr><td>Jenis Kelamin</td><td>:</td><td>{{jenisKelamin}}</td></tr>
      <tr><td>Tempat/Tanggal Lahir</td><td>:</td><td>{{tempatLahir}},
          {{tanggalLahir}}</td></tr>
      <tr><td>NIK</td><td>:</td><td>{{nik}}</td></tr>
      <tr><td>Agama</td><td>:</td><td>{{agama}}</td></tr>
      <tr><td>Status Perkawinan</td><td>:</td><td><strong
          >{{statusPerkawinan}}</strong></td></tr>
      <tr><td>Pekerjaan</td><td>:</td><td>{{pekerjaan}}</td></tr>
      <tr><td>Alamat</td><td>:</td><td>RT
          {{rt}}
          / RW
          {{rw}},
          {{alamat}}</td></tr>
    </table>

    <div class="paragraf">
      Berdasarkan Surat Pengantar Ketua RT
      {{rt}}
      / RW
      {{rw}}
      Nomor:
      {{nomorPengantar}}
      tanggal
      {{tanggalPengantar}}, bahwa benar yang bersangkutan adalah warga Kelurahan
      Liliba Kecamatan Oebobo Kota Kupang yang berdomisili sesuai alamat
      tersebut dan saat ini berstatus sebagai
      <strong>{{statusPerkawinan}}</strong>.
    </div>

    <div class="paragraf">
      Surat ini diberikan kepada yang bersangkutan untuk keperluan administrasi
      {{alasanPengajuan}}.
    </div>

    <div class="paragraf">
      Demikian surat ini dibuat untuk dipergunakan sebagaimana mestinya.
    </div>

    <div class="ttd">
      <div>Kupang, {{tanggalSurat}}</div>
      <div style="font-weight: bold;">an. LURAH LILIBA</div>
      <div>Kasie Ketertiban</div>

      <div class="qr">
        <img
          src="https://api.qrserver.com/v1/create-qr-code/?data={{qrData}}&size=80x80"
          alt="QR Code"
        />
        <div><small>Scan untuk verifikasi</small></div>
      </div>

      <div style="margin-top: 5px;"><strong>{{namaLurah}}</strong></div>
      <div>{{nipLurah}}</div>
    </div>
  </body>
</html>