<html lang="id">

  <head>
    <meta charset="UTF-8" />
    <title>Surat Keterangan Domisili</title>
    <style>
      body {
        font-family: "Times New Roman", Times, serif;
        font-size: 12pt;
        margin: 50px;
        color: #000;
      }

      .header {
        text-align: center;
        margin-bottom: 10px;
      }

      .logo-container {
        position: absolute;
        top: 50px;
        left: 50px;
      }

      .logo {
        width: 80px;
      }

      .judul {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0 10px;
      }

      .nomor {
        text-align: center;
        margin-bottom: 20px;
      }

      .isi {
        margin: 20px 0;
      }

      .paragraf {
        text-align: justify;
        margin: 10px 0;
      }

      .ttd {
        margin-top: 50px;
        text-align: right;
      }

      .logo {
        width: 70px;
        height: auto;
      }

      .ttd .jabatan {
        text-transform: uppercase;
        font-weight: bold;
      }

      .qr {
        margin-top: 10px;
      }

      table.info {
        margin-left: 30px;
      }

      table.info td {
        padding: 3px 5px;
        vertical-align: top;
      }

      .header {
        position: relative;
        text-align: center;
        margin-bottom: 10px;
      }

      .logo-absolute {
        position: absolute;
        left: 30px; /* lebih masuk dikit dari sisi kiri */
        top: -30px; /* naik ke atas */
        width: 90px; /* lebih besar */
        height: auto;
      }

      .header-text {
        display: inline-block;
        padding-left: 20px;
      }
    </style>
  </head>

  <body>
    <div class="header">
      <img
        src="https://sisurat-kl.vercel.app/img/kotakupanglogo.png"
        class="logo-absolute"
      />
      <div class="header-text">
        <div>PEMERINTAH KOTA KUPANG</div>
        <div>KECAMATAN OEBEBO</div>
        <div>KELURAHAN LILIBA</div>
        <div style="font-size: 10pt">
          Jalan Taebenu-Liliba, Telepon (0380) 8562082
        </div>
      </div>
    </div>

    <hr />

    <div class="judul">SURAT KETERANGAN DOMISILI</div>
    <div class="nomor">Nomor: {{noSurat}}</div>

    <div class="isi">
      <p class="paragraf">
        Yang bertanda tangan di bawah ini, Lurah Kelurahan Liliba Kecamatan
        Oebobo Kota Kupang menerangkan bahwa:
      </p>

      <table class="info">
        <tr>
          <td>Nama</td>
          <td>:</td>
          <td>{{namaLengkap}}</td>
        </tr>
        <tr>
          <td>Jenis Kelamin</td>
          <td>:</td>
          <td>{{jenisKelamin}}</td>
        </tr>
        <tr>
          <td>Tempat/Tgl. Lahir</td>
          <td>:</td>
          <td>{{tempatTanggalLahir}}</td>
        </tr>
        <tr>
          <td>NIK</td>
          <td>:</td>
          <td>{{nik}}</td>
        </tr>
        <tr>
          <td>Agama</td>
          <td>:</td>
          <td>{{agama}}</td>
        </tr>
        <tr>
          <td>Pekerjaan</td>
          <td>:</td>
          <td>{{pekerjaan}}</td>
        </tr>
        <tr>
          <td>Status Perkawinan</td>
          <td>:</td>
          <td>{{statusPerkawinan}}</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>:</td>
          <td>{{alamat}}</td>
        </tr>
      </table>

      <p class="paragraf">
        Berdasarkan surat pengantar RT.
        {{rt}}
        / RW.
        {{rw}}
        Kel. Liliba No:
        {{noSuratPengantar}}
        tanggal
        {{tanggalSuratPengantar}}, bahwa benar yang bersangkutan berdomisili di
        alamat tersebut sejak
        <strong>{{sejakTinggal}}</strong>, dengan status tempat tinggal
        <strong>{{statusTempatTinggal}}</strong>{{#if namaPemilikRumah}}, milik
          <strong>{{namaPemilikRumah}}</strong>{{/if}}.
      </p>

      {{#if tujuanPermohonan}}
        <p class="paragraf">
          Surat ini diberikan untuk keperluan:
          <strong>{{tujuanPermohonan}}</strong>.
        </p>
      {{/if}}

      <p class="paragraf">
        Demikian Surat Keterangan ini dibuat untuk dipergunakan sebagaimana
        mestinya.
      </p>
    </div>

    <div class="ttd">
      <div>Kupang, {{tanggalTerbit}}</div>
      <div class="jabatan">An. Lurah Liliba<br />Kasie PMK</div>
      <div class="qr">
        <img
          src="https://api.qrserver.com/v1/create-qr-code/?data={{qrData}}&size=80x80"
          alt="QR Code"
        />
      </div>
      <div style="margin-top: 5px;"><strong>{{namaLurah}}</strong></div>
      <div>{{nipLurah}}</div>
    </div>
  </body>

</html>